* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(ROCK\ PAPER\ SCISSORS\ BG.jpg);
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin-left: 60px;
}
.choices img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.choice:hover {
  transform: scale(1.1);
}

#result {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-top: 50px;
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-top: 50px;
}
#user-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#computer-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.msgcontainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.msgcontainer button {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}
.msgcontainer button:hover {
  background: #fff;
  color: #333;
  border: 2px solid #333;
}
